{% extends 'layout.html' %}

{% block title %}修改投票主題{% endblock %}

{% block body %}
    <h1>{{ poll.topic }}</h1>
    <p>{{ poll.description }}</p>
    <a href="{% url 'poll_view' %}" hreflang='zh-hant-tw'><input type="button" value="新增選項"></a>
    <ul>
        {% for op in option_list %}
        <li>
            <a href="{% url 'poll_vote' op.id %}">{{ op.title }}</a> - {{ op.votes }} 票
            <a href="{% url 'option_edit' op.id %}" hreflang='zh-hant-tw'><input type="button" value="修改"></a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}