<!DOCTYPE html>
<html lang='zh-hant-tw'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta http-equiv="author" content="Jasper">
    <style>
        input[type="button"],[type="submit"],[type="reset"] {
            cursor: pointer;
        }
        footer{
            position: absolute;
            bottom: 0;
        }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
    <footer>209 29 - 陳漢秦</footer>
</body>
</html>